<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>

<h2>Expenses Pie Chart</h2>

<div class="d-flex justify-content-center align-items-center">
  <div id="chart-container"></div>

  <div>
    <h1>List of Expenses</h1>
    <ul>
      {{#each Expenses as |Expense|}}
      <li>{{Expense.category}} - {{Expense.amount}} - {{format_date Expense.date}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<script src="/js/chart.js"></script>