<!-- Loop over each object in the projects array -->

<form id="budget">
    <div class="budget-section">
        <h3>
            <div>Expense Entry</div><button>+</button>
        </h3>
        <div class="budget-section--content hidden">
            <div class="budget-section--input">
                <span>Amount</span>
                <input type="integer" name="amount" id="amount">
            </div>
            <div class="budget-section--input">
                <span>Category</span>
                <input type="text" name="category" id="category">
            </div>
            <div class="budget-section--input">
                <span>Description</span>
                <input type="text" name="dexcription" id="description">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>
<script src="/js/home.js"></script>