<!-- Loop over each object in the projects array -->
{{!-- {{#each users as |user| }} --}}
{{!-- // action="/submitBudget" method="POST" --}}
<form action="/submitBudget" method="POST" id="budget">
    <div class="budget-section" id="budget--income">
        <h3>
            <div>Income</div><button>+</button>
        </h3>
        <div class="budget-section--content hidden">
            <div class="budget-section--input">
                <span>Main income</span>
                <input type="text" name="incomeMain">
            </div>
            <div class="budget-section--input">
                <span>Other income</span>
                <input type="text" name="incomeOther">
            </div>
        </div>
    </div>
    <div class="budget-section" id="budget--household">
        <h3>
            <div>Household</div><button>+</button>
        </h3>
        <div class="budget-section--content hidden">
            <div class="budget-section--input">
                <span>Food</span>
                <input type="text" name="householdFood">
            </div>
            <div class="budget-section--input">
                <span>Furniture</span>
                <input type="text" name="householdFurniture">
            </div>
            <div class="budget-section--input">
                <span>Child Care</span>
                <input type="text" name="child--care">
            </div>
            <div class="budget-section--input">
                <span>Property Taxes</span>
                <input type="text" name="propertyTaxes">
            </div>
            <div class="budget-section--input">
                <span>Utilities</span>
                <input type="text" name="utilities">
            </div>
            <div class="budget-section--input">
                <span>Other Expenses</span>
                <input type="text" name="otherExpenses">
            </div>
        </div>
    </div>
    <div class="budget-section" id="budget--health">
        <h3>
            <div>Health</div><button>+</button>
        </h3>
        <div class="budget-section--content hidden">
            <div class="budget-section--input">
                <span>Health Insurance</span>
                <input type="text" name="healthInsurance">
            </div>
            <div class="budget-section--input">
                <span>Medication</span>
                <input type="text" name="healthMedication">
            </div>
            <div class="budget-section--input">
                <span>Other Expenses</span>
                <input type="text" name="otherExpenses">
            </div>
        </div>
    </div>
    <div class="budget-section" id="budget--education">
        <h3>
            <div>Education</div><button>+</button>
        </h3>
        <div class="budget-section--content hidden">
            <div class="budget-section--input">
                <span>Tuition and Fees</span>
                <input type="text" name="tuitionAndFees">
            </div>
            <div class="budget-section--input">
                <span>Textbooks</span>
                <input type="text" name="textbooks">
            </div>
            <div class="budget-section--input">
                <span>Supplies and Other Expenses</span>
                <input type="text" name="otherExpenses">
            </div>
        </div>
    </div>
    <div class="budget-section" id="budget--savings">
        <h3>
            <div>Savings and Giving</div><button>+</button>
        </h3>
        <div class="budget-section--content hidden">
            <div class="budget-section--input">
                <span>My Savings</span>
                <input type="text" name="savings">
            </div>
        </div>
    </div>
    <div class="budget-section" id="budget--miscellaneous">
        <h3>
            <div>Miscellaneous Expenses</div><button>+</button>
        </h3>
        <div class="budget-section--content hidden">
            <div class="budget-section--input">
                <span>Entertainment</span>
                <input type="text" name="entertainment">
            </div>
            <div class="budget-section--input">
                <span>Travel</span>
                <input type="text" name="travel">
            </div>
            <div class="budget-section--input">
                <span>Clothing</span>
                <input type="text" name="clothing">
            </div>
            <div class="budget-section--input">
                <span>Personal Care</span>
                <input type="text" name="personalCare">
            </div>
            <div class="budget-section--input">
                <span>Impromptu</span>
                <input type="text" name="impromptu">
            </div>
            <div class="budget-section--input">
                <span>Other Expenses</span>
                <input type="text" name="otherExpenses">
            </div>
        </div>
    </div>
</form>

<div class="second-section">
    <div class="row1">
        <div><button>Clear Fields</button></div>
        <div><button id="calcBtn">Calculate Results</button></div>
    </div>
    <div class="row2">
       
        <div class="container-col">
            <div class="mini-Row">
                <div>
                    <span id="percentageText">0%</span> &nbsp; <span class="color-block-blue"></span> Housing and Living
                </div>
                <div>
                    <span id="money-value">$0</span>
                </div>
            </div>
            <div class="mini-Row">
                <div>
                    <span id="percentageText">0%</span> &nbsp; <span class="color-block-blue"></span> Housing and Living
                </div>
                <div>
                    <span id="money-value">$0</span>
                </div>
            </div>
            <div class="mini-Row">
                <div>
                    <span id="percentageText">0%</span> &nbsp; <span class="color-block-blue"></span> Health
                </div>
                <div>
                    <span id="money-value">$0</span>
                </div>
            </div>
            <div class="mini-Row">
                <div>
                    <span id="percentageText">0%</span> &nbsp; <span class="color-block-blue"></span> Education
                </div>
                <div>
                    <span id="money-value">$0</span>
                </div>
            </div>
            <div class="mini-Row">
                <div>
                    <span id="percentageText">0%</span> &nbsp; <span class="color-block-blue"></span> Savings and Giving
                </div>
                <div>
                    <span id="money-value">$0</span>
                </div>
            </div>
            <div class="mini-Row">
                <div>
                    <span id="percentageText">0%</span> &nbsp; <span class="color-block-blue"></span> Miscellaneous Expenses
                </div>
                <div>
                    <span id="money-value">$0</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="third-section">
    <div class="row2">
       
        <div class="container-col">
            <div class="mini-Row">
                <div>
                    <span> Total Monthly Expenses
                </div>
                <div>
                    <span id="money-valueExpenses">$0</span>
                </div>
            </div>
            <div class="mini-Row">
                <div>
                    <span> Total Monthly Income
                </div>
                <div class="amount_container">
                    <span id="money-valueIncome">$0</span>
                    <span id="amount_earned"></span>
                </div>
            </div>
            <div class="mini-Row">
                <div>
                    <span> Remainder
                </div>
                <div>
                    <span id="money-valueRemainder">$0</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/home.js"></script>