* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

header {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.home__title {
  flex: 0 0 500px;
  margin: 0;
  width: 60%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: darkslateblue;
  color: white;
}

/* budget form */

#budget {
  display: inline-block;
  border: 1px solid #2c2c2c;
  padding: 1em;
  width: 500px;
}

.budget-section h3 {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: .5em;
  margin: 0;
}

.budget-section--input {
  display: flex;
  justify-content: space-between;
  padding: .5em;
}

.hidden {
  display: none;
  transition-duration: 1s;
  transition-delay: 0.3s;
}

.second-section{
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  height: auto;
  width: 100%;
  border: 1px solid black;
  align-items: flex-end;
}

.row1{
  display: flex;

}

.row1 > div{
  padding-top: 20px;
  margin-left: 20px;
  padding-right: 20px;

}

.row1 button{
  background-color: rgb(79, 78, 78);
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
}

.row1 button:hover{
  background-color: slateblue;
  padding: 10px 20px;
  transition-duration: 1s;
  transition-delay: 0.2s;
}


.row2{
  display: flex;
  
}

.mini-Row{
  width: 400px;
  
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}


.container-col{
  
  display: flex;
  flex-direction: column;
}


.color-block-blue{
  background-color: blue;
  display: inline-block;
  width: 20px;
  height: 10px;
}